@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background: #0A0A0A;
  --primary: #454545;
  --secondary: #242424;
  --accent: #90ee86;
  --text: #f0f0f0;
  --error: #ED4337;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #242424 inset !important;
  -webkit-text-fill-color: #f0f0f0 !important;
}

::-ms-reveal {
  filter: invert(100%);
}